test-automation-framework/org.wso2.carbon.automation.engine/src/main/resources/automationXMLSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="automation">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="configurations">

                    <xs:complexType>
                        <xs:all>
                            <xs:element type="xs:int" name="deploymentDelay" minOccurs="1"
                                        maxOccurs="1">

                            </xs:element>
                            <xs:element type="xs:string" name="executionEnvironment" minOccurs="1"
                                        maxOccurs="1">

                            </xs:element>
                            <xs:element type="xs:boolean" name="multiTenantMode" minOccurs="1"
                                        maxOccurs="1">

                            </xs:element>


                            <xs:element type="xs:boolean" name="coverage" minOccurs="1"
                                        maxOccurs="1">

                            </xs:element>
                            <xs:element type="xs:boolean" name="frameworkDashboard" minOccurs="1"
                                        maxOccurs="1">


                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tools">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="selenium">
                                <xs:complexType>

                                    <xs:all>
                                        <xs:element name="remoteDriverUrl" minOccurs="1"
                                                    maxOccurs="1">

                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:anyURI">
                                                        <xs:attribute type="xs:boolean"
                                                                      name="enable" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="browser">

                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:choice>
                                                        <xs:element type="xs:string"
                                                                    name="browserType" minOccurs="1"
                                                                    maxOccurs="1"/>
                                                        <xs:element name="webdriverPath"
                                                                    minOccurs="1" maxOccurs="1">

                                                            <xs:complexType>
                                                                <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                        <xs:attribute
                                                                                type="xs:boolean"
                                                                                name="enable"/>
                                                                    </xs:extension>
                                                                </xs:simpleContent>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>

                                                    <xs:any namespace="##any" processContents="lax"
                                                            minOccurs="0"
                                                            maxOccurs="unbounded"/>

                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>

                <xs:element name="datasources">

                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="datasource">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                            <xs:element type="xs:string" name="url" minOccurs="1"
                                                        maxOccurs="1"/>
                                            <xs:element type="xs:string" name="username"
                                                        minOccurs="1" maxOccurs="1"/>
                                            <xs:element type="xs:string" name="password"
                                                        minOccurs="1" maxOccurs="1"/>
                                            <xs:element type="xs:string" name="driverClassName"
                                                        minOccurs="1"
                                                        maxOccurs="1"/>
                                        </xs:choice>

                                        <xs:any namespace="##any" processContents="lax"
                                                minOccurs="0"
                                                maxOccurs="unbounded"/>

                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="security">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="keystore">

                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="xs:string" name="fileName" minOccurs="1"
                                                    maxOccurs="1">

                                        </xs:element>
                                        <xs:element type="xs:string" name="type" minOccurs="1"
                                                    maxOccurs="1">

                                        </xs:element>
                                        <xs:element type="xs:string" name="password" minOccurs="1"
                                                    maxOccurs="1">

                                        </xs:element>
                                        <xs:element type="xs:string" name="keyAlias" minOccurs="1"
                                                    maxOccurs="1">

                                        </xs:element>
                                        <xs:element type="xs:string" name="keyPassword"
                                                    minOccurs="1" maxOccurs="1">

                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="truststore">

                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="xs:string" name="fileName" minOccurs="1"
                                                    maxOccurs="1">

                                        </xs:element>
                                        <xs:element type="xs:string" name="type" minOccurs="1"
                                                    maxOccurs="1">

                                        </xs:element>
                                        <xs:element type="xs:string" name="password" minOccurs="1"
                                                    maxOccurs="1">

                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="featureManagement">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="p2Repositories">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="repository" maxOccurs="unbounded"
                                                    minOccurs="1">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element type="xs:string" name="name"
                                                                minOccurs="1"
                                                                maxOccurs="1"></xs:element>
                                                    <xs:element type="xs:anyURI" name="url"
                                                                minOccurs="1"
                                                                maxOccurs="1"></xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="userManagement" minOccurs="1">

                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="tenants" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:choice minOccurs="1" maxOccurs="unbounded">
                                        <xs:element name="tenant" maxOccurs="unbounded"
                                                    minOccurs="1">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element type="xs:string"
                                                                name="userName"
                                                                minOccurs="1"
                                                                maxOccurs="1"/>
                                                    <xs:element type="xs:string"
                                                                name="password"
                                                                minOccurs="1"
                                                                maxOccurs="1"/>
                                                </xs:all>
                                                <xs:attribute type="xs:string"
                                                              name="key"
                                                              use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute type="xs:string" name="domain" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="platform">

                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="productGroup" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>


                                    <xs:choice>
                                        <xs:element name="instance" maxOccurs="unbounded"
                                                    minOccurs="0">

                                            <xs:complexType>
                                                <xs:sequence>

                                                    <xs:choice>
                                                        <xs:element type="xs:string" name="host"
                                                                    minOccurs="1"
                                                                    maxOccurs="1"/>
                                                        <xs:element type="xs:int" name="httpport"
                                                                    minOccurs="1"
                                                                    maxOccurs="1"/>

                                                        <xs:element type="xs:int" name="httpsport"
                                                                    minOccurs="1"
                                                                    maxOccurs="1"/>
                                                        <xs:element type="xs:string"
                                                                    name="webContext"
                                                                    minOccurs="1" maxOccurs="1"/>
                                                    </xs:choice>

                                                    <xs:any namespace="##any" processContents="lax"
                                                            minOccurs="0"
                                                            maxOccurs="unbounded"/>


                                                </xs:sequence>

                                                <xs:attribute type="xs:string" name="name" use="required"/>
                                                <xs:attribute type="xs:string" name="type" use="required"/>
                                                <xs:attribute type="xs:string" name="servicePortType" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>


                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                    <xs:attribute type="xs:boolean" name="clusteringEnabled"
                                                  use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="listenerExtensions">

                    <xs:complexType>
                        <xs:all>
                            <xs:element name="PlatformExecutionManager" minOccurs="1" maxOccurs="1">

                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="onExecutionStart" minOccurs="1"
                                                    maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="onExecutionFinish" minOccurs="1"
                                                    maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>


                                    </xs:all>
                                </xs:complexType>

                            </xs:element>

                            <xs:element name="PlatformSuiteManager" minOccurs="1" maxOccurs="1">

                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="onStart" minOccurs="1" maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="onFinish" minOccurs="1" maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>


                                    </xs:all>
                                </xs:complexType>

                            </xs:element>
                            <xs:element name="PlatformAnnotationTransferManager" minOccurs="1"
                                        maxOccurs="1">

                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="transform" minOccurs="1" maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <!--<xs:element name="compareAnnotation" minOccurs="1" maxOccurs="1">-->

                                        <!--<xs:complexType>-->
                                        <!--<xs:choice>-->
                                        <!--<xs:element name="class" type="xs:string" minOccurs="1"-->
                                        <!--maxOccurs="unbounded"></xs:element>-->

                                        <!--</xs:choice>-->
                                        <!--</xs:complexType>-->
                                        <!--</xs:element>-->


                                    </xs:all>
                                </xs:complexType>

                            </xs:element>

                            <xs:element name="PlatformTestManager" minOccurs="1" maxOccurs="1">

                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="onTestStart" minOccurs="1" maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="onTestSuccess" minOccurs="1"
                                                    maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="onTestFailure" minOccurs="1"
                                                    maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="onTestSkipped" minOccurs="1"
                                                    maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="onTestFailedButWithinSuccessPercentage"
                                                    minOccurs="1"
                                                    maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="onStart" minOccurs="1" maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="onFinish" minOccurs="1" maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>

                            </xs:element>

                            <xs:element name="PlatformReportManager" minOccurs="1" maxOccurs="1">

                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="generateReport" minOccurs="1"
                                                    maxOccurs="1">

                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="class" type="xs:string"
                                                                minOccurs="0"
                                                                maxOccurs="unbounded"></xs:element>

                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:all>
                                </xs:complexType>

                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
